# Theory Questions of Data Structures

1. What are data structures, and why are they important?
  
    - data structures are used for organizing ,storing and managing data so it can be used efficiently in python. it is important because we can use different type of operations using data structure like insert, add, delete etc there are  many data structure like list,tuple,set and dict and they have their own used in python

2. Explain the difference between mutable and immutable data types with examples.

    - In Mutable data type we can basically change and modification the element after the object is created.
    - when we created a mutable data type we can  changed ,add or delete the values inside .
    - Example of immutable datatype : list,dictionary,set


    - In immutable datatype after the creation on a object we cannot do the modification like change the value  or replace etc.

    - Example of immutable datatype: tuple, string.

3.  What are the main differences between lists and tuples in Python?

    - 1. list are mutable means we can change the value other side tuple is immutable we cannot do modifications

    - 2. list uses square brackets like:[] on the other side the tuple uses parenthesis like: ()

    - 3 list is slower because it support the mutability but tuples are faster because we cannot change after created

4.  Describe how dictionaries store data?

    - dictionary stores the value in python in key-value pairs.Keys are immutable ans also unique .
    - key -> value
    - Example storing my name and my age in dictionary
    
      - student{"name":"Rahul", "age":21} so in this example there is a key "name" and "age" and both store different data types

5. Why might you use a set instead of a list in Python?

    - because a list can hold duplicate/repeated items but the set is only stores the unique values. if you want that your data doesn't have a repeated items then you can used the set instead of list
    - Ex. grocery=["apple","Banana","carrot","apple"]
    -     grocery=('apple','Banana','carrot','apple') instead of that it is shows as grocery=('apple','Banana','carrot')

    - we basically use set because unique items not repetative.

6.  What is a string in Python, and how is it different from a list?

     - string is a sequence of a characters in a enclose in quotes like: name="Rahul" or college="GD Jalan"

     - difference
       - string is immutable means you cannot change in values but list is immutable means you can do changes in list
       - strings can only stores the characters but list can stores different data types

7. How do tuples ensure data integrity in Python?


    - tuples helps to protect data because tuple is immutable means it cannot change the data or update after creation

    - tuples cannot modified.
    - it prevent the accidental change means if any body try to change the value it get an error and your data will be safe
    - for example an employee id cannot be change or dates and even coordinates thats why we use tuple for data security

8.  What is a hash table, and how does it relate to dictionaries in Python?

   - a hash table is a data structure that store the data in key->values pairs. it is very fast in searching ,deleting or even inserting when you give akey its name and add value python convert that key in a hash value

    - hash table in dictionary

       - when dictionary is created it is based on the key and value , you give a key a name must be unique from other keys and also add the value to that unique key

9. Can lists contain different data types in Python3?

     - lists can stores diferent data types in python it is basically stores the mixed data types in python like we can store integer , string, float values, boolean, and also store a list inside a list

     - Example list1=[5,"Rahul",22.5,True,[11,22,33]] in this list there are different types of data types .

10. Explain why strings are immutable in Python?

   - strings are immuatable means pythons does not allow changes onces it created

   - Reasons why strings are immutable in python

     - because it keeps your data safe beacuse once you create you cannot change
     - to avoid mistakes means mistakenly you or your collegue cannot change the values
     - because the immutability the programm is much faster than the mutable datatype

11. What advantages do dictionaries offer over lists for certain tasks?

    - Searching: in comparison for searching the dict is very fast in comparison to lists ex.. we create a list inside the list there are many values and even to access it also very difficult we have to find the index and then call using index but using dictionaries is used because it use the key- value when you create a dictionary and store the the values you simply use key to print the output of the certain value . you don't need to remember the index ypu can call directly using the the key

12.  Describe a scenario where using a tuple would be preferable over a list?

   - Suppose you have to store a date of birth of a person then tuple is more preferable over  a list because  a person's birth date can never be change it is fixed forever. In that scenario you don't want any other person change the DOB, in that case you can use tuple because if you use a list any one even mistakenly can change it

13.  How do sets handle duplicate values in Python?

      - a set contains a unique value in it if you add a same item more than once in it it keeps only one value

      - How does it handles duplicates values in python

        - python use hashing in set each value convert in a unique hash number if the value come that already exists python ingnore that similar value if the value is new it stored it and assign a unique hash number

14.  How does the “in” keyword work differently for lists and dictionaries?

   - when using "in" keyword in lists it checks each elements one by one until it matches the desirable value  

   - when using "in" in dictionaries it basically checks only the keys, not the values until you explicitly ask for

15.  Can you modify the elements of a tuple? Explain why or why not?

     -  the answer is NO , we cannot change/modify the elements because the python say the tuple is immutable means you cannoy do modification once a tuple is created .
     - Think it like a pen when you write some thing on a white sheet using a pen then you cannot erase it tuple is also like the pen

     - Even you try to do modification in tuple it will give you a big error like "TypeError: tuple doesnot support item assignment"

16.  What is a nested dictionary, and give an example of its use case?

      -  a nested dictionary is a dictionary that contains one or more than one dictionary inside it

      - simply called a dictionary inside a dictionary

      - Example of its use case
        - suppose we want to store employees information in a dictionary
        - employees={"emp1":{"name":"Amit", "salary":10000}, "emp2":{"name":"Amita", "salary":15000},} so this is an example of a nested dictionary

17.  Describe the time complexity of accessing elements in a dictionary?

      -  python using hash and giving every number a unique value so python knows where the values are stored it doesn't serach everything like lists do.

18.   In what situations are lists preferred over dictionaries?

      - there are some situations where lists is preferred over dictionary

        - list is an ordered collection of elements when you want you value is in order form the use list over dictionary like :To do list ,shopping list(priority based), music playlist

        - if you don't want the key value things than use lists

        - if you want the indexing to access item use index then use list because dict doesn't have a index it has only keys

        - lists contains duplicate data if you want to use duplicate data the ypu should use the list over the dict

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?


       - dictionaries used the hash table to stores the item in hash value , it is not index based or sequence . they are not postion based access type.

       - how does that affect data retrieval.

         -  you cannot access the dict items using indexing.
          
         -  python search in dict based on the key-value not the position because dict is unordered

20. Explain the difference between a list and a dictionary in terms of data retrieval.

     -  data retrived using list
       - list using index to retrive data from a list so, the searching is happens by its position python is search the desirable data from (0,1,2,3...until the result )

    -  data retrived using dictionary

       - dictionary use the key-value means that the  data get retrive using the key not by the index Ex: student={"name":"Rahul",age:22} so when you write the key name it will give you the output "Rahul"

# Practical Questions

In [1]:
# question 1. Write a code to create a string with your name and print it

name="Rahul"
print(name)

Rahul

In [2]:
#question 2. Write a code to find the length of the string "Hello World"

string="Hello World"
print(len(string))

11

In [3]:
#question 3. Write a code to slice the first 3 characters from the string "Python Programming"

string2="Python Programming"
print(string2[0:3])

Pyt

In [4]:
#question 4.  Write a code to convert the string "hello" to uppercase

string3="hello"
print(string3.upper())

HELLO

In [9]:
#question 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string4="I like apple"
print(string4)
print(string4.replace("apple","orange"))

I like apple
I like orange

In [11]:
#question 6. Write a code to create a list with numbers 1 to 5 and print it

num =[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [12]:
#question 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

lst_num=[1,2,3,4]
lst_num.append(10)
print(lst_num)

[1, 2, 3, 4, 10]

In [13]:
#question 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lst_num2=[1,2,3,4,5]
lst_num2.remove(3)
print(lst_num2)

[1, 2, 4, 5]

In [14]:
#question 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list=['a','b','c','d']
my_list[1]

'b'

In [17]:
#question 10. Write a code to reverse the list [10, 20, 30, 40, 50].

num =[10,20,30,40,50]
num[::-1]

[50, 40, 30, 20, 10]

In [20]:
#question 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup1=(100,200,300)
print(tup1)
type(tup1)

(100, 200, 300)

tuple

In [25]:
#question 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tup2=('red','green','blue','yellow')
print(tup2[1:4])               # i am confused do i have to print from green to yellow or only second last element "blue"

('green', 'blue', 'yellow')

In [26]:
#question 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup3=(10,20,5,15)
min(tup3)

5

In [28]:
#question 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animal=("dog","cat","rabbit")
animal.index("cat")

1

In [29]:
#question 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=("apple","banana","orange")               # kiwi is not present
"kiwi" in fruits

False

In [30]:
#question 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

set1={"a", "b", "c"}
set1

{'a', 'b', 'c'}

In [32]:
#question 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set={1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [33]:
#question 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set2={1,2,3,4}
my_set2.remove(4)
my_set2

{1, 2, 3}

In [34]:
#question 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1={1,2,3}
s2={3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [36]:
#question 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

sets1={1,2,3}
sets2={2,3,4}
sets1.intersection(sets2)

{2, 3}

In [37]:
#question 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict={"name":"Rahul","age":22,"city":"Samastipur"}
my_dict

{'name': 'Rahul', 'age': 22, 'city': 'Samastipur'}

In [39]:
#question 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dict={'name': 'John', 'age': 25}
dict["Country"]="USA"
dict

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [40]:
#question 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dicts={"name":"Alice","age":30}
dicts["name"]

'Alice'

In [41]:
#question 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict2={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2.pop("age")
dict2

{'name': 'Bob', 'city': 'New York'}

In [42]:
#question 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict3={'name':"alice", "city":"paris"}
"city" in dict3

True

In [45]:
#question 26. Write a code to create a list, a tuple, and a dictionary, and print them all

my_list=[11,22,33]
my_tuple=(100,200,300)
my_dict={"name":"Rahul","age":22}

print(my_list)
print(my_tuple)
print(my_dict)

[11, 22, 33]
(100, 200, 300)
{'name': 'Rahul', 'age': 22}

In [46]:
#ques 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, print the result

import random
num=[random.randint(1,100) for i in range(5)]
num.sort()
num

[56, 56, 71, 93, 100]

In [48]:
#question 28 . Write a code to create a list with strings and print the element at the third index

elements=["Rahul", "Amit", "Riya", "Deepak" , "Suraj"]
elements[3]

'Deepak'

In [52]:
#question 29. Write a code to combine two dictionaries into one and print the result.

dicts1={"name":'Rahul' , 'Age':22}
dicts2={"city":'Samastipur','pin':848401}

combined=(dicts1,dicts2)
combined

({'name': 'Rahul', 'Age': 22}, {'city': 'Samastipur', 'pin': 848401})

In [57]:
#question 30. Write a code to convert a list of strings into a set.

my_lists=["Apple","Banana","Apple","Orange"]

my_set= set(my_lists)
print(my_set)

{'Apple', 'Orange', 'Banana'}